html, body {
    height: 100%
}
a {
    color: $secondary_color!important;
}
body {
    font-size: 1.1rem!important;
}
p.short-description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
ul.loginreg {
    padding:0px;
    margin:0px;
    display: flex;
    li {
        list-style-type:none;
        display:inline-flex;
        justify-content: space-between;
    }
}
.bgcover {
    position:relative;
    h1 {
        position:absolute;
        left:0px;
        bottom:200px;
        background-color:rgba(0,0,0,0.5);
        color:#ffffff;
        padding:10px 20px;
    }
    h2 {
        position:absolute;
        left:0px;
        bottom:130px;
        background-color:rgba(0,0,0,0.5);
        color:#ffffff;
        padding:10px 20px;
    }
    p {
        position:absolute;
        left:0px;
        bottom:10px;
        background-color:rgba(0,0,0,0.5);
        color:#ffffff;
        padding:10px 20px;
    }
}
.welcome {
    .card {
        border-radius: 0rem;
    }
}
h1 {
    color: $primary-color;
}
.card-header {
    background-color: $primary-color!important;
    color: #ffffff;
    h1 {
        color: #ffffff;
    }
    h2, h3 {
        margin-bottom: 0px;
    }
    a {
        color: #ffffff!important;
    }
}
.covid {
    background-color: $secondary-color;
    color: #ffffff;
    padding:20px;
    h3 {
        border-bottom: 2px solid #ffffff;
        margin-bottom:10px;
    }
}
.card-title {
    height: 76px;
}
.btn-primary {
    background-color: $secondary-color!important;
    border-color: $secondary-color-70!important;
    color: #ffffff!important;
}
.dropdown-item:active {
    background-color: $secondary-color!important;
    color: #ffffff!important;
}
.navbar-brand {
    padding-top: 0px!important;
    padding-bottom: 0px!important;
}
.btn-secondary {
    background-color: $primary-color!important;
    border-color: $primary-color-70!important;
    a {
        color: #ffffff !important;
    }
    :hover {
        text-decoration: none!important;
    }
}
.navbar-brand {
    .primary {
        color: $primary-color!important;
    }
}
.bg-secondary {
    background-color: $primary-color!important;
}
.page-item.active .page-link {
    background-color: $primary-color!important;
    border-color: $primary-color!important;
}

span.small_slogan {
    font-size:0.8rem;
}
/** SWITCH **/
.switchdesc {
    line-height: 34px;
    display: flex;
    margin: 10px;
}
.switch {
    margin: 0px 6px;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: $secondary-color;
}

input:focus + .slider {
    box-shadow: 0 0 1px $secondary-color-70;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
/** END SWITCH **/

/** Towns List **/
ul.towns-list {
    padding: 10px;
    li {
        list-style-type: none;
        display: inline-flex;
        margin: 2px;
        padding:4px;
        border-radius: 4px;
        a {
            color: #ffffff!important;
        }
    }
}
/** End Towns List **/

/** colorbar **/
.colorbar {
    height: 0.6em;

    background-color: #bab2b5;
    background-image: -moz-linear-gradient(top, #bab2b5, #bab2b5);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#bab2b5), to(#bab2b5));
    background-image: -webkit-linear-gradient(top, #bab2b5, #bab2b5);
    background-image: -o-linear-gradient(top, #bab2b5, #bab2b5);
    background-image: linear-gradient(to bottom, #bab2b5, #bab2b5);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
}

.colorbar:before {
    height: 0.6em;
    width: 50%;
    display: block;
    content: "";
    float: left;

    background-color: #123c69;
    background-image: -moz-linear-gradient(top, #123c69, #123c69);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#123c69), to(#123c69));
    background-image: -webkit-linear-gradient(top, #123c69, #123c69);
    background-image: -o-linear-gradient(top, #123c69, #123c69);
    background-image: linear-gradient(to bottom, #123c69, #123c69);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
}

.colorbar:after {
    height: 0.6em;
    width: 40%;
    display: block;
    content: "";
    float: right;

    background-color: #ac3b61;
    background-image: -moz-linear-gradient(top, #ac3b61, #ac3b61);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ac3b61), to(#ac3b61));
    background-image: -webkit-linear-gradient(top, #ac3b61, #ac3b61);
    background-image: -o-linear-gradient(top, #ac3b61, #ac3b61);
    background-image: linear-gradient(to bottom, #ac3b61, #ac3b61);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
}
/** END colorbar **/

ul.icons {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    padding-left:0px;
    font-size: 1.5rem;
    li {
        list-style-type: none;
        span {
            font-size: 1.3rem;
            color: #666666;
        }
    }
}
.tagincards {
    display:inline-flex;
    flex-direction:row;
}
.mainpic {
    position: relative;
    h2 {
        position: absolute;
        top: 5px;
        left:0px;
        background-color: rgba(0, 0, 0, 0.5);
        color: #ffffff;
        padding: 4px 8px;
        font-size: 1.2rem;
    }
}
.inline-flex {
    display: inline-flex;
}
.scrollable-menu {
    height: auto;
    max-height: 180px;
    overflow-x: hidden;
}
.scrollable-menu::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 4px;
}
.scrollable-menu::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: lightgray;
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.75);
}
#loading {
    top:0px;
    left:0px;
    position: absolute;
    background-color: rgba(0,0,0,0.20);
    height: 100vh;
    width:100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index:1;
    flex-direction: column;
    font-size: 1.2rem;
    color: #ffffff;
}
input[type=button] {
    cursor: pointer;
}
.header-img {
    width:100%;
    heigt:300px!important;
    position:relative!important;
    .qr-code {
        position: absolute;
        bottom: -60px;
        right: 100px;
        background-color: #ffffff;
        padding:10px;
        -webkit-box-shadow: 0px 10px 10px 0px rgba(191,191,191,1);
        -moz-box-shadow: 0px 10px 10px 0px rgba(191,191,191,1);
        box-shadow: 0px 10px 10px 0px rgba(191,191,191,1);
    }
    .mainpic {
        height: 300px;
        width: 100%;
        background-size: 100%;
        background-position: center;
        background-repeat:no-repeat;
    }
}
.edit-photo {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 1;
    display: block;
    a {
        color: rgba(0,0,0,0.5);
    }
}
img.prop_photo{
    max-width: 100%;
    max-height: 100%;
    margin:auto;
    display: block; /* remove extra space below image */
}
.fa {
    color: $secondary-color;
}
.justify-content-center {
    margin-top:40px!important;
    margin-bottom: 80px!important;
}
h4.card-title {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.card-body {
    position: relative;
    .flag {
        padding:0px 0px 2px 2px;
        color: #ffffff;
    }
    .flag-up {
        position:absolute;
        top: 0px;
        right: 0px;
        background-color: #F9B819;
        height: 20px;
        width: 20px;
    }
    .flag-down {
        position:absolute;
        top: 0px;
        right: 0px;
        background-color: #45E055;
        height: 20px;
        width: 20px;
    }
}
/** Carousel **/
.carousel-item{
    min-height: auto;
    .active {
        background-color: #e4e4e4;
    }
}
.carousel-item.active {
    background-color: #cccccc;
}
/** END Carousel **/

/** Company **/
.company-profile {
    padding-left: 0px!important;
    padding-right: 0px!important;
    .cover-photo {
        position: relative;
        .company-logo {
            position: absolute;
            top:0px;
            left:60px;
        }
    }
}
.colorpicker {
    border: solid thin black;
    width: 100px;
    height: 100px;
}
.toggle-live-venue {
    height:20px;
    width:20px;
}
.townadmin .card-title {
    height: auto!important;
}
/** WELCOME **/
.welcome {
    .property-card {
        transition: transform 0.3s;
        //transition-timing-function: ease-in-out;
    }
    .property-card:hover {
        transform: scale(1.03);
    }
}
/** END WELCOME **/


/** REGISTER **/



/** FOOTER **/

footer {
    color: #ffffff;
    text-align: center;
    padding:30px;
}

/** END FOOTER **/
