#three-option {
    display:none;
}
.subscribe h2 {
    color: #ffffff;
}
.subscribe .card-header {
    background-color: #ac3b61!important;
}
.subscription-page {
    padding-top:40px;
    padding-bottom: 60px;
}
.subscribe {
    background-color: #123c69;
}
#three-option img{
    margin-top:30px;
    border: 4px solid #ffffff;
}
#monthly-option img{
    margin-top:30px;
    border: 4px solid #ffffff;
}
